ys-ahk.ini
test.ipynb
1.png
*.pyc
.vscode/settings.json
dist/
build/
autocook.spec
dist_copy/
counter.txt
node_modules/
server/rooms/
target/
tauri-app/
client/models/
*.exe
orttest/
server/.env
.vscode/tasks.json
*.obj
*.ilk
*.pdb