.vscode/settings.json
.vscode/launch.json
dist/
build/
node_modules/
target/
tauri-app/
client/models/
orttest/
server/.env
.vscode/tasks.json
*.exe
*.obj
*.ilk
*.pdb
*.ipynb
*.pyc
app/src/env.ts
bun.lockb
app/.env
*.sh
.tauri/
package-lock.json
